<section>
    <br>
    <div class="container text-center mt-5">
        <div class="d-flex justify-content-start">
            <button class="btn btn-primary" (click)="volverAlDashboard()">Dashboard</button>
        </div>
        <br>
        <form [formGroup]="formularioContacto" (ngSubmit)="submit($event)"
            class="text-center border border-dark rounded-5 p-5" style="max-width: auto; margin: auto;">
            <h3 class="text-center">MODIFICAR USUARIO</h3>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <div class="group">
                        <label for="nombre">Nombre</label>
                        <input type="text" formControlName="nombre" id="nombre" class="form-control" required style="text-transform: uppercase">
                        @if(this.formularioContacto.get('nombre')?.touched &&
                        this.formularioContacto.get('nombre')?.errors?.['required']) {
                        <div class="alert alert-danger" role="alert">
                            El Nombre no puede quedar vacío
                        </div>
                        }
                        @if(this.formularioContacto.get('nombre')?.errors?.['maxlength'])
                        {
                        <div class="alert alert-danger" role="alert">
                            Debe tener como máximo 20 caracteres
                        </div>
                        }
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="group">
                        <label for="apellido">Apellido</label>
                        <div class="input-group">
                            <input type="text" style="text-transform: uppercase" formControlName="apellido"
                                id="apellido" class="form-control" required>
                        </div>
                        @if(this.formularioContacto.get('apellido')?.touched &&
                        this.formularioContacto.get('apellido')?.errors?.['required']) {
                        <div class="alert alert-danger" role="alert">
                            El apellido no puede quedar vacío
                        </div>
                        }
                        @if(this.formularioContacto.get('apellido')?.touched &&
                        this.formularioContacto.get('apellido')?.errors?.['maxlength']) {
                        <div class="alert alert-danger" role="alert">
                            Debe tener como máximo 50 caracteres
                        </div>
                        }
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="mail">Mail</label>
                <input type="text" formControlName="mail" id="mail" class="form-control">
                @if(this.formularioContacto.get('mail')?.touched &&
                this.formularioContacto.get('mail')?.errors?.['required']) {
                <div class="alert alert-danger" role="alert">
                    El mail no puede quedar vacío
                </div>
                }
                @if(this.formularioContacto.get('mail')?.touched &&
                this.formularioContacto.get('mail')?.errors?.['email']) {
                <div class="alert alert-danger" role="alert">
                    El mail no es válido
                </div>
                }
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Sexo: </label>
                        <br>
                        <div class="form-check form-check-inline">
                            <input type="radio" formControlName="sexo" id="masculino" value="H"
                                class="form-check-input">
                            <label for="masculino" class="form-check-label">Masc</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="radio" formControlName="sexo" id="femenino" value="M"
                                class="form-check-input">
                            <label for="femenino" class="form-check-label">Feme</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="radio" formControlName="sexo" id="s_n" value="NC" class="form-check-input">
                            <label for="s_n" class="form-check-label">S/N</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="horario">Horario</label>
                        <select formControlName="horario" id="horario" class="form-control">
                            <option value="maniana">Mañana</option>
                            <option value="tarde">Tarde</option>
                            <option value="manianaytarde">Partido</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="administrador">Administrador: </label>
                        <br>
                        <div class="form-check form-check-inline">
                            <input type="radio" formControlName="administrador" id="opcionSi" value="Si"
                                class="form-check-input">
                            <label for="opcionSi" class="form-check-label">Sí</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="radio" formControlName="administrador" id="opcionNo" value="No"
                                class="form-check-input">
                            <label for="opcionNo" class="form-check-label">No</label>
                        </div>
                    </div>

                </div>
            </div>
            <div class="form-group">
                <label for="edad">Edad</label>
                <input type="number" formControlName="edad" id="edad" class="form-control">
                @if(this.formularioContacto.get('edad')?.touched &&
                this.formularioContacto.get('edad')?.errors?.['min']) {
                <div class="alert alert-danger" role="alert">
                    Tienes que ser mayor de 16 años
                </div>
                }
                @if(this.formularioContacto.get('edad')?.touched &&
                this.formularioContacto.get('edad')?.errors?.['max']) {
                <div class="alert alert-danger" role="alert">
                    Tienes que ser menor de 85 años
                </div>
                }
                @if(verEdad(this.formularioContacto.get('edad'))<18 && verEdad(this.formularioContacto.get('edad'))>
                    15) {
                    <div formGroupName="DatosPadres">Datos padres
                        o
                        tutor:
                        <div >
                            <div class="form-group">
                                <label for="DNIpadre">DNI</label>
                                <input type="text" formControlName="DNIpadre" id="DNIpadre" class="form-control"
                                    required>
                                @if(this.formularioContacto.get('DNIpadre')?.touched &&
                                this.formularioContacto.get('DNIpadre')?.errors?.['required']) {
                                <div class="alert alert-danger" role="alert">
                                    El DNI no puede quedar vacío
                                </div>
                                }
                                @if(this.formularioContacto.get('DNIpadre')?.touched &&
                                this.formularioContacto.get('DNIpadre')?.errors?.['formatoDNI']) {
                                <div class="alert alert-danger" role="alert">
                                    El formato del DNI debe contener 8 numeros y una letra en mayúscula
                                </div>
                                }
                            </div>
                            <div class="form-group">
                                <label for="nombrePadre">Nombre</label>
                                <input type="text" formControlName="nombrePadre" id="nombrePadre" class="form-control">
                                @if(this.formularioContacto.get('nombrePadre')?.touched &&
                                this.formularioContacto.get('nombrePadre')?.errors?.['pattern']||this.formularioContacto.get('nombrePadre')?.errors?.['maxlength'])
                                {
                                <div class="alert alert-danger" role="alert">
                                    Debe tener como máximo 20 caracteres y en mayúsculas
                                </div>
                                }
                            </div>
                            <div class="form-group">
                                <label for="apellidosPadre">Apellidos</label>
                                <input type="text" style="text-transform: uppercase" formControlName="apellidosPadre"
                                    id="apellidosPadre" class="form-control" required>
                                @if(this.formularioContacto.get('apellidosPadre')?.touched &&
                                this.formularioContacto.get('apellidosPadre')?.errors?.['required']) {
                                <div class="alert alert-danger" role="alert">
                                    El apellido no puede quedar vacío
                                </div>
                                }
                                @if(this.formularioContacto.get('apellidosPadre')?.touched &&
                                this.formularioContacto.get('apellidosPadre')?.errors?.['maxlength']) {
                                <div class="alert alert-danger" role="alert">
                                    Debe tener como máximo 50 caracteres
                                </div>
                                }
                            </div>
                        </div>
                    </div>
                    }
            </div>
            <br>
            <button type="submit" [disabled]="formularioContacto.invalid || edadMenorA16()"
                class="btn btn-primary form-control">Modificar</button>

        </form>
        <br>
    </div>
</section>