<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a routerLink="inicio" class="nav-link active" aria-current="page">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="login" class="nav-link">Login</a>
                    </li>
                </ul>


            </div>
                
     
            
            
        </div>

        <!-- <div class="row justify-content-start">
            <div class="col-6">
                <button class="btn btn-secondary" *ngIf="estaAutenticado" (click)="toggleSidebar()">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div> -->


    </nav>
</header>

<!-- <div class="sidebar" *ngIf="mostrarSidebar">
    <div class="list-group">
        <!-- Accesos directos a categorías de tareas  
        <a href="#" class="list-group-item list-group-item-action active">
            Pendientes
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            En Progreso
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            Completadas
        </a>

        <!-- Sección de filtros  
        <div class="filters mt-4">
            <h5>Filtros</h5>
            <div class="form-group">
                <label for="filterPriority">Prioridad</label>
                <select class="form-control" id="filterPriority">
                    <option>Alta</option>
                    <option>Media</option>
                    <option>Baja</option>
                </select>
            </div>
            <div class="form-group">
                <label for="filterDate">Fecha de Vencimiento</label>
                <input type="date" class="form-control" id="filterDate">
            </div>
        </div>
    </div>
</div> -->