<aside class="col-md-3" class="sidebar" *ngIf="isSidebarVisible">>
  <div class="list-group">
    <!-- Accesos directos a categorías de tareas -->
    <a href="#" class="list-group-item list-group-item-action active">
      Pendientes
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      En Progreso
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      Completadas
    </a>

    <!-- Sección de filtros -->
    <div class="filters mt-4">
      <h5>Filtros</h5>
      <div class="form-group">
        <label for="filterPriority">Prioridad</label>
        <select class="form-control" id="filterPriority">
          <option>Alta</option>
          <option>Media</option>
          <option>Baja</option>
        </select>
      </div>
      <div class="form-group">
        <label for="filterDate">Fecha de Vencimiento</label>
        <input type="date" class="form-control" id="filterDate">
      </div>
    </div>
  </div>
</aside>