
        <form [formGroup]="citaForm" (ngSubmit)="onSubmit()">

          <!-- <input type="text" class="form-control" id="id" formControlName="id" [hidden]="true"> -->

          <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" id="nombre" formControlName="Nombre">
          </div>
          <div class="form-group">
            <label for="opcionesSelect">Elige las opciones</label>
            <select class="form-select" multiple aria-label="Multiple select example" formControlName="OpcionesSelect">
              <option selected>Open this select menu</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
          <div class="form-group">
            <label for="estado">Estado</label>
            <select class="form-control" id="estado" formControlName="Estado">
              <option value="en curso">En curso</option>
              <option value="finalizada">Finalizada</option>
              <option value="pendiente">Pendiente</option>
            </select>
          </div>
          <div class="form-group">
            <label for="descripcion">Descripción</label>
            <textarea class="form-control" id="descripcion" formControlName="Descripccion"></textarea>
          </div>
          <div class="form-group">
            <label for="fecha">Fecha</label>
            <input type="date" class="form-control" id="fecha" formControlName="Fecha">
          </div>
          <div class="form-group">
            <label for="hora">Hora</label>
            <input type="time" class="form-control" id="hora" formControlName="Hora">
          </div>
          <div class="form-group">
            <label for="duracion">Duración</label>
            <select class="form-control" id="duracion" formControlName="Duracion">
              <option value="15min">15 minutos</option>
              <option value="30min">30 minutos</option>
              <option value="1hora">1 hora</option>
              <option value="1hora30min">1 hora 30 minutos</option>
              <option value="2horas">2 horas</option>
            </select>
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="citaReunion">
            <label class="form-check-label" for="citaReunion">Es una reunión</label>
          </div>
          <button type="submit" class="btn btn-primary">Editar cita</button>
        </form>

      <!-- DELETE -->
        <form [formGroup]="citaForm" (ngSubmit)="onSubmit()">
          <!-- <input type="text" class="form-control" id="id" formControlName="id" [hidden]="true"> -->
          <button type="submit" class="btn btn-primary">Eliminar cita</button>
        </form>
