<div class="container center mt-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
            <select class="form-select" [(ngModel)]="selectedValue" (change)="seleccionar(selectedValue)" aria-label="Default select example">
                <option value="">¿Qué quiere saber?</option>
                <option value="Hora">Hora</option>
                <option value="Descripcion">Descripción</option>
              </select>
        </div>
    <div>
</div>