.menu {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    padding: 10px;
  }
  
  .menu a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
  }
  
  .menu a:hover {
    background-color: #555;
  }
  
  .fondo-home {
    background-color:#dcd8d8;
  }

  /* .fondo-home {
    background-image: url('/assets/img/Fondo de pantalla Natural Hojas Preservadas Beige.png');
  } */