  <br>
  <div class="container text-center mt-5 ms-3">
    <div class="row">
      <!-- Botón Calendario a la izquierda -->
      <div class="col-6 col-lg-12 d-flex justify-content-start">
        <button class="btn btn-primary mb-3" (click)="toggleSidebar()">Calendario</button>
        <button class="btn btn-danger mb-3 ms-2" (click)="logOut()">Log Out</button>
      </div>
    </div>
    
    </div>
    <div class="flex-shrink-0 p-3" [class.d-none]="!isSidebarVisible" style="width: 280px;">
      <ul class="list-unstyled ps-0">
        <li class="mb-1">
          <h5 class="mt-3 mb-2">Empleados</h5>
          <button class="btn btn-toggle align-items-center rounded border-0 mb-2" (click)="toggleCollapse('home')"
            [attr.aria-expanded]="!isHomeCollapsed">
            <h5 class="d-inline">Home</h5>
          </button>
          <div [class.collapse]="isHomeCollapsed" [class.show]="!isHomeCollapsed">
            <div class="list-group mb-3 ">
              <a routerLink="/inicio" class="list-group-item list-group-item-action active dropsize">Inicio</a>
              <a routerLink="/login" class="list-group-item list-group-item-action dropsize">Cambiar usuario </a>
              <a routerLink="/usuario" class="list-group-item list-group-item-action dropsize">Home Usuario</a>
            </div>
          </div>
          <br>
          <button class="btn btn-toggle align-items-center rounded border-0 mb-2" (click)="toggleCollapse('filtros')"
            [attr.aria-expanded]="!isFiltrosCollapsed">
            <h5 class="d-inline">Filtros</h5>
          </button>
          <div [class.collapse]="isFiltrosCollapsed" [class.show]="!isFiltrosCollapsed">
            <div class="list-group mb-3">
              <a href="#" class="list-group-item list-group-item-action active dropsize">Un mes</a>
              <a href="#" class="list-group-item list-group-item-action dropsize">Una semana</a>
            </div>
          </div>
          <br>
          <button class="btn btn-toggle align-items-center rounded border-0 mb-2" (click)="toggleCollapse('tipo')"
            [attr.aria-expanded]="!isTipoCollapsed">
            <h5 class="d-inline">Estado</h5>
          </button>
          <div [class.collapse]="isTipoCollapsed" [class.show]="!isTipoCollapsed">
            <div class="list-group mb-3 dropsize">
              <a href="#" class="list-group-item list-group-item-action active dropsize">Pendientes</a>
              <a href="#" class="list-group-item list-group-item-action dropsize">En Progreso</a>
              <a href="#" class="list-group-item list-group-item-action dropsize">Completadas</a>
            </div>
          </div>
          @if(admin){
          <h5 class="mt-3 mb-2">Administrador</h5>
          <button class="btn btn-toggle align-items-center rounded border-0 mb-2" routerLink="/administracionusuarios">
            <h5 class="d-inline">Gestión Usuario</h5>
          </button>
          }

        </li>
      </ul>
    </div>
    <router-outlet></router-outlet>
 