.alert-inline {
    display: inline-block;
    font-size: 0.8em; /* Ajusta el tamaño del texto según tus necesidades */
    margin-left: 10px; /* Añade un margen para separar del campo de entrada */
  }