<div class="container center mt-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6"> 
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2980.5786366529974!2d-4.726064688715117!3d41.66484517114619!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd470d55e3273467%3A0xb3fd8e57a6131b03!2sIES%20Ribera%20de%20Castilla!5e0!3m2!1ses!2ses!4v1707588121495!5m2!1ses!2ses"
                width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>