<section>
  <br>
  <div class="container text-center mt-5">
    <div class="d-flex justify-content-start">
      <button class="btn btn-primary" (click)="volverAlDashboard()">Volver al Dashboard</button>
    </div>
    <br>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Email</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        
<!-- @for(user of users; track users.DniUsuario){
  <tr>
  <td>{{ user.name }}</td>
  <td>{{ user.email }}</td>

  <td>
    <button class="btn" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal"
      (click)="selectUserForDeletion(user)">
      <i class="bi bi-trash"></i>
    </button>
  </td>
</tr>
} -->
      </tbody>
    </table>

    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmar Eliminación</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            ¿Estás seguro de que quieres eliminar al usuario {{ selectedUser?.name }}?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
            <button type="button" class="btn btn-primary" (click)="deleteUser()">Sí</button>
          </div>
        </div>
      </div>
    </div>
    <br>
  </div>
</section>